<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="UML Debug Tools"
            id="fr.obeo.uml2.debugtools.view">
      </category>
      <view
            name="UML Debugging"
            icon="icons/sample.gif"
            category="fr.obeo.uml2.debugtools.view"
            class="fr.obeo.uml2.debugtools.views.CacheAdapterSizeView"
            id="fr.obeo.uml2.debugtools.DebugView">
      </view>
   </extension>

</plugin>
